body {
    margin: 0 auto;
    background-color: green;
    text-align:center;
}
span { display: block; }
.outline{ 
    width: 75px;
    text-align: center; 
    padding: 10px;
    margin: 10px; 
    background: #FFF; 
    color: black;
    float: left; 
}
.kier {
    color: red;
}
.karo {
    color: red;
}
.top{ 
    text-align: left;
 }
.bottom{ 
    text-align: right;
}
#header {
    float: left;
}
#center {
    clear: both;
}
#footer {
    clear: both;

}